table.figures td {
    margin: 12px 120px 12px 12px;
    padding: 0 10em 0 0;
}

table.figures {
    border-collapse: separate;
}

#removeFigureButton {
    margin-right: 1em;
    padding: 0;
    border: none;
    background: none;
}

fieldset {
    border: hidden;
}

#travizSelect {
    line-height: 1.5;
}

#containerDiv {
    overflow-y: auto;
}
