.TRAViz-copyright-link {
    z-index: 100;
    position: relative;
    margin-top: -60px;
    float: right;
}

.TRAViz-copyright {
    width: 232px;
    height: 50px;
    background-image: url('/assets/traviz/cr.png');
}

.unlink {
    width: 23px;
    height: 16px;
    background: rgb(80, 80, 80) url('/assets/traviz/unlink.png') no-repeat;
    cursor: pointer;
}
